<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <h1><%= title %></h1>
    <p>欢迎来到公务员考试在线学习网站管理系统</p>
    <a class="btn btn-default" href="/check" role="button">查看课程</a>
    <a class="btn btn-default" href="/add" role="button">添加课程</a>
    <a class="btn btn-default" href="/recommend" role="button">推荐课程</a>
    <script src="/jquery.min.js"></script>
    <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
    <script src="/bootstrap.min.js"></script>
  </body>
</html>
